{% extends 'base.html' %} {% block content %}

    <style>
        h3 {
            color: grey;
        }
    </style>

<h1>{{ recipe.recipe_name }}</h1>

<div class="row">
    <div class="card">
      <div class="card-content">
          <h3>Ingredients:</h3>
          <ul>
          {% for ingredient in recipe.ingredients %}
              <li>{{ ingredient }}</li>
          {% endfor %}
          </ul>

          <h3>Instructions:</h3>
          <ul>
          {% for instruction in recipe.instructions %}
            <li>{{ instruction }}.</li>
          {% endfor %}
          </ul>

          <h3>Additional information:</h3>
          <p>Serves: {{ recipe.servings }}</p>
          <p>Total Calories: {{ recipe.total_calories}}</p>
          <p>Calories Per Serving: {{ recipe.calories_per_serving }}</p>
          <p>Total Protein: {{ recipe.total_protein }}g</p>
          <p>Total Carbs: {{ recipe.total_carbs }}g</p>
          <p>Total Fat: {{ recipe.total_fat }}g</p>
    </div>
    <div class="card-action">
      <a style="color: teal" href="{% url 'recipes_update' recipe.id %}">Edit</a>
      <a style="color: teal" href="{% url 'recipes_delete' recipe.id %}">Delete</a>
    </div>
  </div>
</div>

{% endblock %}
