{% extends 'base.html' %}
{% block content %}

    <style>
        #my_recipe_page {
            color: teal;
        }
    </style>

<h1>My Recipes</h1>

{% if recipes %}
{% for recipe in recipes %}
  <a href="{% url 'recipe_detail' recipe.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title" style="color: teal">{{ recipe.recipe_name }}</span>
      </div>
    </div>
  </a>
  {% endfor %}
  {% else %}
  <p>No recipes yet :(</p>

  {% endif %}
{% endblock %}