{% extends 'base.html' %} {% block content %}
    <style>
        #about_page {
            color: teal;
        }
    </style>
<h1>About SlickChef</h1>
<hr />
<p>
    Are you tired of staring blankly at your fridge, wondering what to make for dinner? Fear not, hungry human! SlickChef is here to save the day (and your taste buds)!
    Our AI-backed web app will auto-magically match your ingredients with the perfect recipe faster than you can say "yum!". Plus, we'll give you all the juicy (and health-ful!) nutrition facts you need to feel good about what you're eating.
    No more stressing about what to make or reading endless stories about how Great-Great-Great-Great-Grandpa used to cook (as amazing of a chef as he was)!
</p>

{% endblock %}
